body {
    font-family: Verdana, Geneva, Tahoma, sans-serif; font-style: italic; 
    color: violet; word-spacing: normal;
    background-color:rgb(203, 219, 216) ; text-align: center;
}
h1 {
    font-family: 'Courier New', Courier, monospace; font-weight: bold; 
    color: rgb(255, 255, 255); border: 3px solid rgb(0, 0, 0); 
    background-color: rgb(80, 29, 218); text-align: center; border-radius: 75%;
}
p {
    font-family: 'Georgia', serif; font-size: 16px; line-height: 1.5;
    color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0); padding: 10px; margin: 20px;
}